.x-date-view {
	@include inline-view();
}

.x-date-edit {
	@include inline-edit();

	.x-dropdown-action{
		&:after{
			@include icon-font($fa-var-calendar-o);
		}
		&:hover{
			&:after{
				content: $fa-var-calendar;
			}
		}
	}

	&.x-open{
		.x-dropdown-action{
			&:after{
				content: $fa-var-calendar;
			}
		}
	}

	.x-dropdown-content{
		width: $date-dropdown-width;
	}
}
