.x-contenteditable {

	>.x-contenteditable-content{
		border: 1px solid $component-border-color;
		background-color: $component-background-color;
	}
}

.x-contenteditable * {
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
}