Vážená pani, Vážený pán,

v systéme (Prihlásiť: {{serviceUrl}}) sme zaregistrovali novú požiadavku, ktorá čaka na Vaše spracovanie. 
Požiadavka bola vytvorená používateľom {{applicant}} s predmetom {{subject}}.

S pozdravom,

Tím UnionSoft