Vážená pani, Vážený pán,

na základe Vašej požiadavky na zmenu hesla Vám posielame linku na zmenu hesla. Kliknutím na linku Reset zabudnutého hesla ({{serviceUrl+'/#/forgotten/reset/'+tokenId}}) potvrdíte Vašu požiadavku na zmenu hesla a bude Vám vygenerované nové heslo.

V prípade, že ste si zmenu hesla nevyžiadali, prosím kontaktujte nás na adrese info@unionsoft.sk.

S pozdravom,

Tím UnionSoft